.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.naBar{
  border-radius: 69px;
  background: #0e0d6e;
  box-shadow:  -33px -33px 66px #0a0950,
               33px 33px 66px #12118c;
}

.list{
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Keep the top margin as-is */
  margin-right: 300px; /* Reduce the right margin */
  margin-bottom: 10px; /* Keep the bottom margin as-is */
  margin-left: 300px; /* Reduce the left margin */
}
.contacts{
  background-color: black;
  margin-bottom: 0px;
}
